<div class="container m-3">
    <div class="row">
      <div class="col-3"><p>اختار توع المورد</p></div>
      <div class="col-2">
        <input 
        type="radio"
        value="1"
        [formControl]="resourceTypeControl"
         />
        <label for="">حجز خلال اليوم</label>
      </div>
      <div class="col-3">
        <input 
        type="radio" 
        value="2"
        [formControl]="resourceTypeControl"

        />
        <label for="">حجز خلال اليوم</label>
      </div>
    </div>
  </div>