
:root {
    --dark: #002F49;
    --yellow: #F2D383;
}
* {
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebeaea !important;
    direction: rtl;

}