<div class="container m-3">
    <div class="row">
      <div class="col-3">
        <img class="avater" src="./assets/images/avater.png" alt="" />
      </div>
      <div class="col-9">
        <div class="form-group container">
          <label for="name" class="float-left name">اسم المورد</label>
          <input
            type="text"
            class="form-control"
            [formControl]="nameControl"
            id="security_code"
            aria-describedby="emailHelp"
            placeholder=""
          />
        </div>
      </div>
    </div>
  </div>
  